@use 'variables'
@use 'mixins'

*
  font-family: "Montserrat", sans-serif
  padding: 0
  margin: 0
  box-sizing: border-box
  width: 100%

body
  background-color: variables.$bg-color
  color: variables.$text-color

.header
  @include mixins.container
  background-color: variables.$bg-color-header
  height: 480px

  &-leaves
    @include mixins.bg-img('hero/desktop/left-leaves.png')
    max-width: 55%

    &-info
      margin: 12% 36%
      max-width: 50%

      &-logo
        max-width: 50%

      &-title
        color: variables.$text-color-header
        font-size: 3.5rem
        font-weight: bold
        margin-top: 7%
      
      &-arrow
        margin-top: 5%
        max-width: 8%

  &-plantperson
    @include mixins.bg-img('hero/desktop/plantperson.png')
    max-width: 22%

  &-leaves2
    @include mixins.bg-img('hero/desktop/right-leaves.png')
    max-width: 23%

.filters
  height: 300px

  &-cards
    @include mixins.container
    justify-content: center
    max-width: 80%
    margin-left: 10%

    &-card
      margin: 4% 4%
      max-width: 20%

      &-header
        height: 90px

      &-header
        height: 80px

    &-img
      max-width: 30%

    &-title
      margin-bottom: 7%
      margin-top: 5%

select
  background-color: variables.$bg-color
  border: 1px solid variables.$border-color
  border-radius: 20px
  height: 40px
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  background: url(../images/icons/fill8.png) no-repeat center right 

.cards
  background-color: variables.$bg-color-cards
  // max-width: 100%

  &-no-result
    @include mixins.container
    padding-top: 5%

    &-left
      margin-left: 25%
      margin-right: 5%
      max-width: 30%

      &-title
        font-size: 3rem
        font-weight: bold
        margin-top: 5%

      &-text
        font-size: 1.2rem
        font-weight: light
        margin-top: 5%
        max-width: 55%
        line-height: 2rem

    &-rigth
      align-items: center

      &-img
        max-width: 20%
        margin-bottom: 5%

.no-show
  display: none
